@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Content/highcharts")
<h5>工作台</h5>
<hr />

<div class="col-md-12">
    您有 @ViewBag.CheckCount 项奖罚需要处理  <a href="../b_Point/My_Check">立即处理</a>
</div>
<div class="container col-md-12 form-inline">
    <table>
        <tr>
            <td>
                <div id="My_Point" style="width: 550px; height: 400px; margin: 0 auto"></div>
            </td>
        </tr>
    </table>
</div>

@*<div class="container col-md-6 form-inline">
    <table>
        <tr>
            <td>
                <div id="My_Value" style="width: 550px; height: 400px; margin: 0 auto"></div>
            </td>
        </tr>
    </table>
</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        var chart = {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        };
        var title = {
            text: '我的功分'
        };
        //var title1 = {
        //    text: '我的产值'
        //};
        var tooltip = {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        };
        var plotOptions = {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        };
        var series = [{
            type: 'pie',
            name: '我的功分',
            data: [
               ['日常奖罚', 33.3],
               ['固定功分', 33.3],
               {
                   name: '其他得分',
                   y: 33.3,
                   sliced: true,
                   selected: true
               }
            ]
        }];

        //var series1 = [{
        //    type: 'pie',
        //    name: '我的产值',
        //    data: [
        //       ['实产值', 33.3],
        //       ['虚产值', 33.3],
        //       {
        //           name: '创富产值',
        //           y: 33.3,
        //           sliced: true,
        //           selected: true
        //       }
        //    ]
        //}];

        var json = {};
        json.chart = chart;
        json.title = title;
        json.tooltip = tooltip;
        json.series = series;
        json.plotOptions = plotOptions;
        $('#My_Point').highcharts(json);

        //json.series = series1;
        //json.title = title1;
        //$("#My_Value").highcharts(json);
    });

</script>