body {
    padding-bottom: 20px;
    margin-top: 0px;
}
h5{
    font-size: 16px;
    padding: 10px 0px 10px 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table{
    width: 100%;
}

.mini-layout {
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
  min-height: 50px;
}
.mini-layout {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 9px;
}
.mini-layout div {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.mini-layout .mini-layout-body {
  background-color: #dceaf4;
  margin: 0 auto;
  width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
  float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
  background-color: #bbd8e9;
  width: 20%;
}
.mini-layout.fluid .mini-layout-body {
  width: 77.5%;
  margin-left: 2.5%;
}

.container-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}

.common-title{
    background-color: dodgerblue;
    color: white;
}

.col-md-2{
    position: relative;
    min-height: 1px;
    text-wrap: avoid;
}

.vertical-center{
    height: 40px;
    line-height: 40px;
}

.vertical-top{
    vertical-align: top;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.font-22{
    font-size: 22px;
}

.font-24{
    font-size: 24px;
}

.font-26{
    font-size: 26px;
}

.font-28{
    font-size: 28px;
}

.font-30{
    font-size: 30px;
}

.bold{
    font-weight: bold;
}
.input-mini{width:60px;}
.input-small{width:90px;}
.input-medium{width:150px;}
.input-large{width:210px;}
.input-xlarge{width:270px;}
.input-xxlarge{width:530px;}

.selItem{
    float: left;
    width: 100%;
    border: solid 1px lightgray;
    height: 50px;
    overflow-y: scroll;
}

.childDiv{
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    float: left;
}

.childOrgDiv{
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    float: left;
}

.sub_auth{
    padding-left: 50px;
    float: left;
    width: 100%;
    font-weight: bold;
}

.sub_auth_item{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    position: relative;
}

.sub_auth_item_red{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    position: relative;
    color: red;
}

.auth_tr{
    text-align: left;
}

.auth_td{
    padding-left: 50px;
}

.left{
    position: relative;
    float: left;
}
.right{
    position: relative;
    float: right;
}

.left_td{
    text-align: left;
    padding-left: 10px;
}
.right_td{
    text-align: right;
    padding-right: 10px;
}

.selUser{
    width: 380px;
    height: 230px;
    border: dashed 1px gray;
    overflow-y: auto;
}

.UserItem{
    height: 30px;
}

.inline{
    display: inline;
}

.short_txt{
    width: 100px;
}

.padding-bottom{
    padding-bottom: 10px;
}

.padding-right{
    padding-right: 10px;
}

.padding-left{
    padding-left: 10px;
}

.padding-top{
    padding-top: 10px;
}

.mini_txt{
    width: 50px;
    margin: 5px 0px;
}

.center{
    text-align: center;
    vertical-align: middle;
}

.form_text_normal{
    font-weight: normal;
}

.width_large{
    max-width: 600px;
}

.mini-text{
    width: 80px;
    height: 30px;
    vertical-align: middle;
}

.mini-select{
    width: 60px;
    height: 30px;
    vertical-align: middle; 
}

.login {
    width: 500px;
    margin: auto;
}

.login tr{
    height: 50px;
}

#div_UserControl{
    padding-top: 10px;
}

#table_attence th {
    word-break: keep-all;
}