@Scripts.Render("~/bundles/zTreeCheck")

<div class="container-fluid text-center">
    <!-- 模态框（Modal） -->
    <div class="modal" id="CheckTreeModel" tabindex="-1" role="dialog" aria-labelledby="myCheckTreeModel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px; height: 600px; padding-top: 20px;">
            <div class="modal-content">
                <div class="modal-header common-title">
                    <button type="button" class="close" aria-hidden="true" onclick="HideOrg();">
                        ×
                    </button>
                    <h4 class="modal-title" id="myCheckTreeModel">
                        选择机构
                    </h4>
                </div>
                <div class="modal-body" style="height: 300px;">
                    <div id="selOrg" class="selItem"></div>
                    <div style="overflow-y: scroll; height: 240px;">
                        <TABLE border="0" align="left">
                            <TR>
                                <TD width=200px align=left valign=top>
                                    <ul id="treecheck" class="ztree" style="width:260px; overflow:auto;"></ul>
                                </TD>
                            </TR>
                        </TABLE>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnOrgConfirm" onclick="OrgConfirm();">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
