<div class="container-fluid text-center" style="width: 500px">
    <input type="hidden" id="hid_user_show_type" />
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="NewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header common-title">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增人员
                    </h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("Create", new Bounds.Models.b_User())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="User.Close();">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnSaveUser" onclick="User.SaveUserInfo();">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
