@model IEnumerable<Bounds.Models.b_User>

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <td style="vertical-align: top" width="100px">
            @Html.Partial("../b_Organize/ShowTree")
        </td>
        <td style="vertical-align: top">
            @Html.Partial("_AddUser")
            <div id="div_UserControl">
                @Html.Partial("_Show")
            </div>
        </td>
    </tr>
</table>