
@{
    ViewBag.Title = "Manager_Reward_Report";
}

<h5>管理人员奖扣分报表</h5>
<hr />

<div class="container col-md-6 form-inline">
    <table>
        <tr>
            <th align="center">奖分排名</th>
        </tr>
        <tr>
            <td>
                <table class="table table-hover table-striped">
                    <tr>
                        <td>姓名</td>
                        <td>工号</td>
                        <td>机构</td>
                        <td>功分</td>
                        <td>人次</td>
                        <td>奖分排名</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="container col-md-6 form-inline">
    <table>
        <tr>
            <th align="center">扣分排名</th>
        </tr>
        <tr>
            <td>
                <table class="table table-hover table-striped">
                    <tr>
                        <td>姓名</td>
                        <td>工号</td>
                        <td>机构</td>
                        <td>功分</td>
                        <td>人次</td>
                        <td>扣分排名</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

