@Scripts.Render("~/bundles/datetime")

@using (Html.BeginForm("index", "b_Point", FormMethod.Post))
{
    <div class="mini-layout fluid form-inline">
        <div class="control-group padding-bottom">
            <span class="form-text-normal padding-left add-on">主题：</span><input class="form-control" type="text" id="txt_subject" placeholder="主题" />
            <span class="form-text-normal padding-left">初审人：</span><input class="form-control" type="text" id="txt_first_check" placeholder="初审人" />
            <span class="form-text-normal padding-left">终审人：</span><input class="form-control" type="text" id="txt_final_check" placeholder="终审人" />
            <span class="form-text-normal padding-left">审核状态：</span>
            <select class="form-control" id="selStatus">
                <option value="-1">全部</option>
                <option value="0">待初审</option>
                <option value="0">初审驳回</option>
                <option value="0">待终审</option>
                <option value="0">终审驳回</option>
                <option value="0">审核通过</option>
                <option value="0">撤回</option>
            </select>
        </div>
        <div class="control-group">
            <span class="form-text-normal padding-left">奖罚时间：</span><input class="form-control" type="text" id="txt_Prize_Start" />
            <span class="form-text-normal">- </span><input class="form-control" type="text" id="txt_Prize_Stop" />
            <span class="form-text-normal padding-left">记录时间：</span><input class="form-control" type="text" id="txt_Record_Start" />
            <span class="form-text-normal">- </span><input class="form-control" type="text" id="txt_Record_Stop" />
            <input type="submit" value="查询" class="btn btn-success" />
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#txt_Prize_Start').datetimepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('#txt_Prize_Stop').datetimepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('#txt_Record_Start').datetimepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('#txt_Record_Stop').datetimepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    });

</script>
